@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";

.task-is-done {
  text-decoration: line-through;
  opacity: 0.5;
}